@import "tailwindcss";

:root {
  /* Font Family */
  --font-family: "Nunito", sans-serif;
  /* Colours */
  --light-beige: #F9F5EB;
  --dark-beige: #E4DCCF;
  --red: #EA5455;
  --blue: #002B5B;
  /* Box Shadow */
  /* --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

html {
  scroll-behavior: smooth;
}

/* Hero section animation */

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-50%));
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(calc(-50%));
  }

  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 20s linear infinite;
}

/* Aircon page custom */
.custom-shape-aircon-store {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.custom-shape-aircon-services {
  clip-path: polygon(0 100%, 10% 0, 100% 0%, 100% 100%);
}

/* Product page swiper */
.thumbs-swiper .swiper-slide {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbs-swiper .swiper-slide-thumb-active img {
  border: 2px solid #002b5b;
  box-shadow: 0 2px 8px rgba(0, 43, 91, 0.3);
}

/* Services page hero section arrow animation */

@keyframes bounce-arrow {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.arrow-container * {
  animation: bounce-arrow 2s infinite;
}

.arrow-container> :nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-container> :nth-child(3) {
  animation-delay: -0.4s;
}