@import "tailwindcss";

:root {
  /* Font Family */
  --font-family: "Nunito", sans-serif;
  /* Colours */
  --light-beige: #F9F5EB;
  --dark-beige: #E4DCCF;
  --red: #EA5455;
  --blue: #002B5B;
  /* Box Shadow */
  /* --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

html {
  scroll-behavior: smooth;
}

/* Hero section animation */

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(-50%));
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(calc(-50%));
  }

  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 20s linear infinite;
}

/* Aircon page custom */
.custom-shape {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}